* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.primary-color {
    color: #FD6E0A;
}

.btn-primary {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 20px;
    border: 0;
    padding: 18px 36px 19px;
    height: 64px;
    background: #FD6E0A;
    border-radius: 5px;
}

.header {
    background: #FFF8F3;
    background-image: url('../images/header_bg.png'), url(../images/developer.png);
    background-repeat: no-repeat;
    background-position: bottom right, left;
    margin: 35px 0 28px 8px;

}

/* header and navigation style */

nav {
    display: flex;
    justify-content: space-between;
    margin: 51px 226px;
}

.nab-title {
    font-weight: 800;
    font-size: 45px;

}

nav li {
    list-style: none;
    margin-left: 51px;
}

ul {
    display: flex;
    align-items: center;
}

/* banner style */

.banner {
    margin: 0 40px 0 226px;
    display: flex;
    align-items: center;


}

.banner-sub-title {
    font-weight: 600;
    font-size: 45px;
    margin-bottom: 5px;
}

.banner-title {
    font-weight: 700;
    font-size: 85px;
    margin-bottom: 20px;
}

.banner-des {
    font-size: 18px;
    color: #757575;
    margin-bottom: 30px;
}

/* main section */

main {
    max-width: 1140px;
    margin: 0 auto;

}

/* about section */

.about {
    margin-top: 130px;
    background: #FFF8F3;
    border-radius: 10px;
    padding: 131px 156px;
    text-align: center;

}

.sec-title {
    font-weight: 700;
    font-size: 35px;
    margin-bottom: 32.92px;
}

.sec-des {
    font-weight: 400;
    font-size: 18px;
    color: #757575;
    margin-bottom: 30px;
}

.about-info-container {
    display: flex;
    justify-content: space-around;
}

.info-title {
    font-weight: 400;
    font-size: 20px;
    color: #757575;
}

.info-des {
    font-weight: 700;
    font-size: 20px;
    color: #474747;
}